:root {
    /* 主色 */
    --b3-theme-primary: #4285f4;
    --b3-theme-primary-light: rgba(66, 133, 244, 0.54);
    --b3-theme-primary-lighter: rgba(66, 133, 244, 0.38);
    --b3-theme-primary-lightest: rgba(66, 133, 244, 0.12);
    --b3-theme-secondary: #f3a92f;
    --b3-theme-background: #f8f9fa;
    --b3-theme-surface: #f3f3f3;
    --b3-theme-error: #d23f31;

    /* 文字颜色 */
    --b3-theme-on-primary: #fff;
    --b3-theme-on-secondary: #fff;
    --b3-theme-on-background: #202124;
    --b3-theme-on-surface: #5f6368;
    --b3-theme-on-error: #fff;

    /* 字体 */
    --b3-font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", "Hiragino Sans GB", "Microsoft Yahei", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", "EmojiSymbols";
    --b3-font-family-code: mononoki, Consolas, "Liberation Mono", Menlo, Courier, monospace, "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", "EmojiSymbols";

    /* 线条 */
    --b3-border-color: rgba(0, 0, 0, .1);

    /* 滚动条 */
    --b3-scroll-color: rgba(0, 0, 0, .2);

    /* 列表 */
    --b3-list-hover: rgba(0, 0, 0, .05);

    /* 页签 */
    --b3-tab-background: #f8f9fa;
    --b3-tab-background-hover: #e9eaeb;

    /* 提示 */
    --b3-tooltips-color: rgba(0, 0, 0, 0.54);

    /* 卡片背景 */
    --b3-card-error-color: rgb(97, 26, 21);
    --b3-card-error-background: rgb(253, 236, 234);
    --b3-card-warning-color: rgb(102, 60, 0);
    --b3-card-warning-background: rgb(255, 244, 229);
    --b3-card-info-color: rgb(13, 60, 97);
    --b3-card-info-background: rgb(232, 244, 253);
    --b3-card-success-color: rgb(30, 70, 32);
    --b3-card-success-background: rgb(237, 247, 237);

    /* 动画效果 */
    --b3-transition: all .15s cubic-bezier(0, 0, .2, 1) 0ms;

    /* 阴影 */
    --b3-point-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    --b3-dialog-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);

    /* diff */
    --b3-diff-add: #dfd;
    --b3-diff-add-surface: #97f295;
    --b3-diff-del: #fee8e9;
    --b3-diff-del-surface: #ffb6ba;

    /* 图表颜色 */
    --b3-graph-p-point: #076f7e;
    --b3-graph-heading-point: #660e7a;
    --b3-graph-math-point: #80FFA5;
    --b3-graph-code-point: #00DDFF;
    --b3-graph-table-point: #37A2FF;
    --b3-graph-list-point: #FF0087;
    --b3-graph-todo-point: #FFBF00;
    --b3-graph-olist-point: #b3005f;
    --b3-graph-listitem-point: #f65b00;
    --b3-graph-bq-point: #8d48e3;
    --b3-graph-super-point: #dd79ff;
    --b3-graph-doc-point: #202124;
    --b3-graph-tag-point: #dbf32f;
    --b3-graph-asset-point: #05c091;
    --b3-graph-line: #5f6368;
    --b3-graph-tag-line: #5f6b06;
    --b3-graph-tag-tag-line: #dbf32f;
    --b3-graph-asset-line: #037457;
    --b3-graph-hl-point: #f3a92f;
    --b3-graph-hl-line: #d23f31;

    /* 编辑器工具栏高度 */
    --b3-vditor-toolbar-height: 29px;
    --b3-vditor-toolbar-height-space: 6px;

    /* 编辑器搜索颜色 */
    --b3-vditor-search-background: #ffe955;
    --b3-vditor-search-border-color: #f2e680;
    --b3-vditor-search-current-background: #a5d3fe;

    /* 代码片段背景 */
    --b3-vditor-code-background: rgba(27, 31, 35, .05);

    /* 即时渲染标记符颜色 */
    --b3-vditor-mark-heading-color: #660e7a;
    --b3-vditor-mark-title-color: #808080;
    --b3-vditor-mark-em-color: #0033b3;
    --b3-vditor-mark-strong-color: #0033b3;
    --b3-vditor-mark-backslash-color: #0033b3;
    --b3-vditor-mark-s-color: #5f6368;
    --b3-vditor-mark-mark-color: #5f6368;
    --b3-vditor-mark-link-color: #008000;
    --b3-vditor-mark-bracket-color: #0000ff;
    --b3-vditor-mark-paren-color: #008000;
    --b3-vditor-mark-block-color: #660e7a;
    --b3-vditor-mark-tag-color: #0033b3;

    /* 即时渲染行内元素颜色 */
    --b3-vditor-inline-strong-color: #202124;
    --b3-vditor-inline-em-color: #202124;
    --b3-vditor-inline-s-color: #202124;
    --b3-vditor-inline-link-color: #4285f4;
    --b3-vditor-inline-mark-background: #ffe955;
    --b3-vditor-inline-mark-color: #202124;
    --b3-vditor-inline-tag-color: #5f6368;
    --b3-vditor-inline-blockref-color: #660e7a;
}

.language-graphviz polygon {
    fill: transparent;
}
