:root {
    /* 主色 */
    --b3-theme-primary: #4285f4;
    --b3-theme-primary-light: rgba(66, 133, 244, 0.54);
    --b3-theme-primary-lighter: rgba(66, 133, 244, 0.38);
    --b3-theme-primary-lightest: rgba(66, 133, 244, 0.12);
    --b3-theme-secondary: #f3a92f; /* unused */
    --b3-theme-background: #212224;
    --b3-theme-surface: #292a2d;
    --b3-theme-error: #d23f31; /* unused */

    /* 文字颜色 */
    --b3-theme-on-primary: #fff;
    --b3-theme-on-secondary: #fff; /* unused */
    --b3-theme-on-background: #e8eaed;
    --b3-theme-on-surface: #9aa0a6;
    --b3-theme-on-error: #fff;

    /* 字体 */
    --b3-font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", "Hiragino Sans GB", "Microsoft Yahei", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", "EmojiSymbols";
    --b3-font-family-code: mononoki, Consolas, "Liberation Mono", Menlo, Courier, monospace, "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", "EmojiSymbols";

    /* 线条 */
    --b3-border-color: rgba(255, 255, 255, .12);

    /* 滚动条 */
    --b3-scroll-color: #7f7f7f;

    /* 列表 */
    --b3-list-hover: rgba(255, 255, 255, .06);

    /* 提示 */
    --b3-tooltips-color: rgba(70, 72, 76, .86);

    /* 动画效果 */
    --b3-transition: all .15s cubic-bezier(0, 0, .2, 1) 0ms;

    /* 阴影 */
    --b3-point-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    --b3-dialog-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);

    /* 编辑器工具栏高度 */
    --b3-vditor-toolbar-height: 35px;
    --b3-vditor-toolbar-height-space: 8px;

    /* 即时渲染标记符颜色 */
    --b3-vditor-mark-heading-color: #9876aa;
    --b3-vditor-mark-title-color: #808080;
    --b3-vditor-mark-bi-color: #cc7832;
    --b3-vditor-mark-link-color: #ffc66d;
    --b3-vditor-mark-bracket-color: #287bde;
    --b3-vditor-mark-paren-color: #6a8759;
}
